
    
    .wave-container {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh;
    }
    .wave-letter {
      font-size: 4rem;
      padding: 20px;
      border-radius: 50px;
      background-color: #f76b00;
      color: #ffffff;
      margin: 0 30px;
      animation: waveAnimation 4s infinite;
      transition: all 0.2s;
    }
    @keyframes waveAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-30px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .wave-letter:hover {
      transform: scale(1.2);
      background-color: #ff9500;
    }
    .wave-letter.clicked {
      animation: none;
    }
    .wave-letter:nth-child(1) {
      animation-delay: 0s;
    }
    .wave-letter:nth-child(2) {
      animation-delay: 0.25s;
    }
    .wave-letter:nth-child(3) {
      animation-delay: 0.5s;
    }
    .wave-letter:nth-child(4) {
      animation-delay: 0.75s;
    }
    .search-container {
      margin-top: none;
    }
    .search-input {
      padding: 15px;
      font-family: type-writer;
      font-size: 1.2rem;
      border: 4px solid #ff6f00;
      border-radius: 50px;
      background-color: #222222c7;
      color: #fff;
      width: 400px;
      outline: none;
    }
    .search-input:focus {
      border-color: #3af700;
    }
    .scan-buttons {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
    .scan-button {
      padding: 11px 44px;
      font-size: 1.2rem;
      border: none;
      border-radius: 50px;
      background-color: #f76b00;
      color: #ffffff;
      cursor: pointer;
      margin: 0px 5px;
      transition: background-color 0.2s;
    }
    .scan-button:hover {
      background-color: #00fc229d;
    }
    .scan-button-text {
      font-family: type-writer;
      font-size: 1.8rem;
    }
    .green-bg {
      background-color: #00fc22cb;
    }
  
